.video-bg {
  background-color: #ebe7e1;
}

.iphone11-first-bg {
  position: relative;
  background-size: contain;
  height: 0;
  padding-bottom: 30%;
  margin: 0 auto;
}

#iphone11-first-bg-vase {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_03.jpg?24217");
}
#iphone11-first-bg-portland {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_2_05.jpg?24634");
}
#iphone11-first-bg-hello {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_2_05.jpg?24674");
}
#iphone11-first-bg-black {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_03.jpg?24799");
}

.iphone11-first-img {
  width: 28%;
  position: absolute;
  left: 18%;
}

#iphone11-first-txt {
  position: absolute;
  left: 51.3%;
  top: 35%;
}

#iphone11-first-txt h1 span {
  font-family: "metropolisthin";
}
#iphone11-first-txt h1 {
  font-family: "metropolisregular";
  font-size: 50px;
}

#iphone11-first-txt p {
  width: 480px;
  padding-top: 26px;
}

.iphone11-third-img {
  width: 60%;
  z-index: -1;
}

#iphone11-third-container {
  text-align: left;
}

.iphone11-third-txt {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 16%;
  right: 0;
  padding: 167px 52px;
}

#iphone11-third-txt-vase {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_11.jpg?24217");
}
#iphone11-third-txt-portland {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_21.jpg?24634");
}
#iphone11-third-txt-hello {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_21.jpg?24674");
}
#iphone11-third-txt-black {
  background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_19.jpg?24689");
}

.iphone11-third-txt p {
  width: 300px;
  padding-top: 26px;
}

#iphone11-fourth-txt {
  left: 57%;
  top: 39%;
  position: absolute;
  width: 300px;
  text-align: left;
  color: #000;
}

#iphone11-fourth-txt p {
  padding-top: 26px;
  color: #000;
  width: 346px;
}

#iphone11-fifth-txt {
  position: absolute;
  top: 74%;
  left: 11%;
}

#iphone11-fifth-txt h2 {
  color: #fff;
}

#iphone11-fifth-txt p {
  width: 301px;
  padding-top: 26px;
  color: #fff;
}

.container-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

.iphone11-desktop {
  display: inherit;
}
.iphone11-moblie {
  display: none;
}

@media only screen and (max-width: 1068px) {
  #iphone11-cyrill p {
    font-size: calc(8px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    padding-top: 0;
  }
  #iphone11-cyrill h1,
  #iphone11-cyrill h2 {
    font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  #iphone11-first-txt {
    left: 51%;
    top: 32%;
  }
  #iphone11-first-txt p {
    width: 370px;
  }
  .iphone11-third-txt {
    padding: 10% 5%;
  }
  #iphone11-fourth-txt {
    left: 56%;
  }
  #iphone11-fourth-txt p {
    width: 310px;
  }
  #iphone11-fifth-txt {
    left: 8%;
  }
  .container-padding {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  #iphone11-first-img-portland {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_03.jpg?24731");
  }
  #iphone11-second-portland {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_11.jpg?24731");
  }
  #iphone11-third-portland {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_2_10.jpg?24731");
  }
  #iphone11-fourth-portland {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_23.jpg?24731");
  }
  #iphone11-middle-portland {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_32.jpg?24731");
  }
  #iphone11-fifth-portland {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_36.jpg?24732");
  }

  #iphone11-first-img-black {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_2_07.jpg?24747");
  }
  #iphone11-second-black {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_09.jpg?24747");
  }
  #iphone11-third-black {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_2_14.jpg?24747");
  }
  #iphone11-fourth-black {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_22.jpg?24747");
  }
  #iphone11-middle-black {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_35.jpg?24747");
  }
  #iphone11-fifth-black {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_03_d399ea8a-274b-47c4-b6f2-677ea968f5ef.jpg?24804");
  }

  #iphone11-first-img-hello {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_03.jpg?24756");
  }
  #iphone11-second-hello {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_11.jpg?24756");
  }
  #iphone11-third-hello {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_2_10.jpg?24756");
  }
  #iphone11-fourth-hello {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_24.jpg?24756");
  }
  #iphone11-middle-hello {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_36.jpg?24756");
  }
  #iphone11-fifth-hello {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_43.jpg?24756");
  }

  #iphone11-first-img-vase {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_2_03_749f9159-b594-4c8e-bd0d-85de518f241a.jpg?24787");
  }
  #iphone11-third-vase {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_2_07_bb1379c5-e53a-4a92-bd06-2f61618a64df.jpg?24787");
  }
  #iphone11-fourth-vase {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_13_d6a2594d-a276-4f9f-947d-9c5b0f5777a8.jpg?24787");
  }
  #iphone11-middle-vase {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_18_874c3763-e2dc-4973-a763-af13a6ab83ce.jpg?24787");
  }
  #iphone11-fifth-vase {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_20_381870da-65ba-4147-abef-42581e2a49c8.jpg?24787");
  }
}

@media only screen and (max-width: 768px) {
  #iphone11-first-txt {
    top: 69%;
    left: 24%;
  }
  #iphone11-first-txt h1 {
    font-size: 44px !important;
  }
  #iphone11-first-txt p {
    font-size: 18px !important;
    width: 430px;
    padding-top: 17px;
  }
  .iphone11-first-bg {
    padding-bottom: 94.5%;
  }
  #iphone11-first-bg-vase {
    background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_02.jpg?24239");
  }
  #iphone11-first-bg-portland {
    background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_2_02.jpg?24656");
  }
  #iphone11-first-bg-hello {
    background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_2_02.jpg?24674");
  }
  #iphone11-first-bg-black {
    background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_02.jpg?24689");
  }
  .iphone11-first-img {
    width: 58% !important;
    position: initial;
  }

  #iphone11-third-container {
    text-align: center;
    margin-bottom: 9%;
  }
  .iphone11-third-img {
    width: 85%;
  }
  .iphone11-third-txt {
    padding: 21px 30px;
    top: 80%;
    right: initial;
    width: 85%;
    text-align: left;
  }
  .iphone11-third-txt h2 {
    line-height: 120%;
  }
  .iphone11-third-txt p {
    width: initial;
  }
  #iphone11-third-txt-portland {
    background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_17.jpg?24660");
  }
  #iphone11-third-txt-hello {
    background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_17.jpg?24675");
  }
  #iphone11-third-txt-black {
    background-image: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_15.jpg?24689");
  }

  #iphone11-fourth-img-vase {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_vases_15.jpg?24239");
  }
  #iphone11-fourth-img-portland {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_po_28.jpg?24656");
  }
  #iphone11-fourth-img-hello {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_d_hello_30.jpg?24674");
  }
  #iphone11-fourth-img-black {
    content: url("https://cdn.shopify.com/s/files/1/0015/1810/8724/files/cyrill_long_Leather_Black_07.jpg?24799");
  }

  #iphone11-fourth-txt {
    position: initial;
    margin: 10px auto;
    width: 330px;
  }
  #iphone11-fourth-txt p {
    padding-top: 0;
    width: initial;
  }
  #iphone11-fifth-txt {
    position: initial;
    margin: 10px auto;
    width: 348px;
  }
  #iphone11-fifth-txt h2 {
    color: #000;
  }
  #iphone11-fifth-txt p {
    color: #000;
    width: initial;
  }
  .container-padding {
    padding: 20px 0;
  }
  .iphone11-desktop {
    display: none;
  }
  .iphone11-moblie {
    display: inherit;
  }
}
@media only screen and (max-width: 734px) {
  #iphone11-cyrill p {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    line-height: 145%;
    padding-top: 0;
  }
  #iphone11-cyrill h1,
  #iphone11-cyrill h2 {
    font-size: calc(19px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  #iphone11-first-txt h1 {
    font-size: calc(28px + (26 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
  }
  #iphone11-first-container {
    left: initial;
    text-align: center;
  }
  #iphone11-first-bg {
    padding-bottom: 98.3%;
  }
  #iphone11-first-txt {
    position: initial;
    margin-left: 34px;
    margin-top: 28px;
  }
  #iphone11-first-txt p {
    width: 250px;
  }
  #iphone11-third-container {
    margin-bottom: 23%;
  }
}
