@font-face {
    font-family: "SF Pro Text";
    src: url("./font/sanfranciscodisplay-regular-webfont.woff") format("woff");
}

body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #fff;
    color: #333;
    font-style: normal;
}

#first-banner {
    background-image: url("./img/hero__bh5xrysol6xe_large.jpg");
    height: 1100px;
}

#second-banner {
    background-image: url("./img/built_to_last__51g5lc82mv6y_large.jpg");
    height: 900px;
}

#third-banner {
    background-image: url("./img/trading_in__fpho75lxb9aq_large.jpg");
    height: 900px;
}

#fourth-banner {
    background-image: url("./img/environmental_mission__c0d51thf5uy6_large.jpg");
}

#card-aluminum {
    background-image: url("./img/low_impact_aluminum__fhfq4ofpx9aq_large.jpg");
}

#card-material {
    background-image: url("./img/low_impact_materials__c8a6xua36g4m_large.jpg");
}

#card-power {
    background-image: url("./img/low_impact_energy__c5otuh544fau_large.jpg");
}

#card-test {
    background-image: url("./img/low_impact_device__bh93u1igvisy_large.jpg");
}

#card-reliability {
    background-image: url("./img/longevity_reliability__bh99qqb46q4i_large.jpg");
}

#card-water {
    background-image: url("./img/longevity_durability__fx1g1q49yh26_large.jpg");
}

#card-care {
    background-image: url("./img/longevity_repair__biyart7mxiwi_large.jpg");
}

#card-update {
    background-image: url("./img/longevity_update__esdkfroyssom_large.jpg");
}

#card-recycle {
    background-image: url("./img/trade_reuse__d8uktx13f0uq_large.jpg");
}

#card-old {
    background-image: url("./img/trade_next__fbumlqnk83ma_large.jpg");
}

#product-list {
    overflow: hidden;
}

#product-list li {
    cursor: pointer;
}

#product-list li:not(:first-child) {
    margin-left: 57px;
}

.banner {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.fourth-container {
    height: 900px;
}

.card-img {
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.background-container {
    background-color: #f2f2f2;
    padding-bottom: 112px;
}

.section-container {
    padding-top: 222px;
    padding-bottom: 90px;
    max-width: 890px;
    text-align: center;
}

.fourth-section {
    padding-top: 140px;
    max-width: 780px;
}

.card-txt-container {
    padding-top: 80px;
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.main-txt {
    font-size: 72px;
    line-height: 1.05556;
    font-weight: 600;
    letter-spacing: -.012em;
}

.main-txt-64 {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -.009em;
}

.report-txt {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
}

.main-sub {
    font-size: 24px;
    line-height: 1.33349;
    font-weight: 400;
    letter-spacing: .009em;
}

.card-txt {
    font-size: 48px;
    line-height: 1.08365;
    font-weight: 600;
    letter-spacing: -.003em;
}

.card-icon {
    font-size: 32px;
    line-height: 1.125;
    letter-spacing: .004em;
    font-weight: 100;
}

.card-txt span {
    display: inline-block;
}

.report-container {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 112px;
    padding-bottom: 125px;
    text-align: center;
}

.mt-14 {
    margin-top: 1.4em;
}

.mt-16 {
    margin-top: 1.6em;
}

.mt-18 {
    margin-top: 18px;
}

.mt-84 {
    margin-top: 84px;
}

.mt-25 {
    margin-top: 25px;
}

.mb-35 {
    margin-bottom: 35px;
}

.p-111 {
    padding-top: 111px;
}

.px-18-20 {
    padding: 18px 0 20px;
}

.mw-590 {
    max-width: 590px;
}

.mw-660 {
    max-width: 660px;
}

.mw-720 {
    max-width: 720px;
}

.overlap-container {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    top: -170px;
    margin-bottom: -170px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 1180px;
    width: calc(100% - 40px);
    background-color: #fff;
}

.card-container {
    display: grid;
    grid-auto-rows: 1fr;
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 115px;
}

.card-section {
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-bottom: 414px;
}

.color-333 {
    color: #333;
}

.border-list {
    border-bottom: 1px solid #d6d6d6;
}

.list-bottom {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #d6d6d6;
    margin-top: 15px;
}

.list-content p {
    margin-top: 3px;
    margin-bottom: 0px;
}

.list-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 34px;
}

.list-li {
    width: 25%;
}

.list-li:nth-of-type(n+5) {
    margin-top: 33px;
}

.list-extend-title {
    font-size: 17px;
    line-height: 1.47059;
    letter-spacing: -.022em;
    font-weight: 600;
    color: #666;
    margin-top: 0;
    padding-top: 33px;
}

.rotate {
    transform: rotate(45deg);
}

.list-bottom::before, .list-bottom::after {
    content: "";
    flex-grow: 1;
    background: #d6d6d6;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.text-container {
    padding-top: 111px;
    text-align: center;
}

@media only screen and (max-width: 1068px) {
    .main-txt {
        font-size: 56px;
        line-height: 1.07143;
        font-weight: 600;
        letter-spacing: -.005em;
    }
    .main-sub {
        font-size: 21px;
        line-height: 1.38105;
        font-weight: 400;
        letter-spacing: .011em;
    }
    .section-container {
        padding-top: 174px;
        padding-bottom: 60px;
        max-width: 670px;
    }
    #first-banner {
        background-image: url("./img/hero__bh5xrysol6xe_medium_2x.jpg");
        height: 837px;
    }
    .main-txt-64 {
        font-size: 48px;
        line-height: 1.08365;
        font-weight: 600;
        letter-spacing: -.003em;
    }
    .mw-980 {
        width: 692px;
    }
    .mw-720 {
        max-width: 530px;
    }
    .card-container {
        grid-gap: 16px;
        padding-top: 108px;
    }
    .card-section {
        padding-bottom: 294px;
    }
    .card-txt-container {
        padding-top: 56px;
        max-width: 278px;
    }
    .card-txt {
        font-size: 32px;
        line-height: 1.125;
        font-weight: 600;
        letter-spacing: .004em;
    }
    #card-aluminum {
        background-image: url("./img/low_impact_aluminum__fhfq4ofpx9aq_medium_2x.jpg");
    }
    #card-material {
        background-image: url("./img/low_impact_materials__c8a6xua36g4m_medium_2x.jpg");
    }
    #card-power {
        background-image: url("./img/low_impact_energy__c5otuh544fau_medium_2x.jpg");
    }
    #card-test {
        background-image: url("./img/low_impact_device__bh93u1igvisy_medium_2x.jpg");
    }
    #card-reliability {
        background-image: url("./img/longevity_reliability__bh99qqb46q4i_medium_2x.jpg");
    }
    #card-water {
        background-image: url("./img/longevity_durability__fx1g1q49yh26_medium_2x.jpg");
    }
    #card-care {
        background-image: url("./img/longevity_repair__biyart7mxiwi_medium_2x.jpg");
    }
    #card-update {
        background-image: url("./img/longevity_update__esdkfroyssom_medium_2x.jpg");
    }
    #card-recycle {
        background-image: url("./img/trade_reuse__d8uktx13f0uq_medium_2x.jpg");
    }
    #card-old {
        background-image: url("./img/trade_next__fbumlqnk83ma_medium_2x.jpg");
    }
    #second-banner {
        background-image: url("./img/built_to_last__51g5lc82mv6y_medium_2x.jpg");
        height: 672px;
    }
    #third-banner {
        background-image: url("./img/trading_in__fpho75lxb9aq_medium_2x.jpg");
        height: 672px;
    }
    #fourth-banner {
        background-image: url("./img/environmental_mission__c0d51thf5uy6_medium_2x.jpg");
    }
    .fourth-container {
        height: 665px;
    }
    .fourth-section {
        padding-top: 88px;
        max-width: 590px;
    }
    .background-container {
        padding-bottom: 100px;
    }
    .report-container {
        width: 692px;
        padding-top: 109px;
        padding-bottom: 125px;
    }
    .report-txt {
        font-size: 48px;
        line-height: 1.08365;
        letter-spacing: -.003em;
    }
    .list-ul {
        padding-top: 47px;
    }
    .list-li:nth-of-type(n+4) {
        margin-top: 27px;
    }
    .list-li {
        width: calc(100% / 3);
    }
}

@media only screen and (max-width: 735px) {
    .main-txt {
        font-size: 44px;
        line-height: 1.09091;
        font-weight: 600;
        letter-spacing: -.005em;
    }
    .section-container {
        padding-top: 176px;
        padding-bottom: 0;
        max-width: 330px;
        text-align: left;
    }
    #first-banner {
        background-image: url("./img/hero__bh5xrysol6xe_small.jpg");
        height: 819px;
    }
    .background-container {
        background-color: #fff;
    }
    .overlap-container {
        top: 0;
        margin-bottom: 0;
    }
    .text-container {
        margin-left: auto;
        margin-right: auto;
        width: 87.5%;
        max-width: 330px;
        padding-top: 72px;
        text-align: left;
    }
    .main-txt-64 {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0em;
    }
    .card-container {
        grid-template-columns: 100%;
        grid-gap: 20px;
        padding-top: 74px;
    }
    .report-container {
        margin-left: auto;
        margin-right: auto;
        width: 87.5%;
        text-align: left;
    }
    .report-txt {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0em;
        max-width: 360px;
    }
    .fourth-container{
        height: 545px;
    }
    .fourth-section {
        padding-top: 80px;
        max-width: 100%;
        text-align: left;
        width: 87.5%;
    }
    #fourth-banner {
        background-image: url("./img/environmental_mission__c0d51thf5uy6_small.jpg");
    }
    .list-li {
        width: 50%;
    }