const portalId = "de2ee0f8eb5510707011341884fe3c11ec21adc8873698b141caf3a01fde26a6"
const url = {
    "cateogry": "https://desk.zoho.com/portal/api/kbCategories",
    "detailList": "https://desk.zoho.com/portal/api/kbArticles",
    "detail": "https://desk.zoho.com/portal/api/kbArticles/",
    "search": "https://desk.zoho.com/portal/api/kbArticles/search"
}
const errorHtml = "<h3>Sorry, We couldn't load it.<br>Please reload it.</h3>"
const detailContainer = $("#category-detail")

getCategory().then(function (categories) {
    setCategory(categories)
    $("#category-box button:first").click()
})

async function getCategory() {
    let list = new Map()
    let childList = null

    await $.get(url.cateogry, { "portalId": portalId }, function (defs) {
        defs.data[0].child.forEach(element => {

            childList = []
            childList.push(element.id)

            if ("child" in element)
                element.child.forEach(child => { childList.push(child.id) })

            list.set(element.name, childList)
        })
    })
    return list;
}

function setCategory(categories) {
    let html = []

    categories.forEach((v, k) => {
        html.push("<button onClick='getCategoryDetail(this)' ")

        for (let i = 0; i < v.length; i++)
            html.push("data-", i, "='", v[i], "' ")

        html.push("><img src='", getImageResource(k), "' /><p>", k, "</p></button>")
    })

    $("#category-box").html(html.join(""))
}

function getCategoryDetail(category) {
    let param = { "portalId": portalId, "sortBy": "createdTime" }
    let ids = $(category).data()

    preDetailContainerLoad(category)

    $.each(ids, function (i, v) {
        param.categoryId = v

        $.get(url.detailList, param, function (resp) {
            const list = resp.data

            if (list.length > 0)
                setCategoryDetail(category.textContent, list)

        }).fail(function (e) {
            detailContainer.html(errorHtml)
            console.log(e)
        })
    })

    pstDetailContainerLoad()
}

function setCategoryDetail(parentName, details) {
    let category, html

    try {
        category = "category" in details[0] ? details[0].category.name : parentName

        html = ["<div class='detail-title'><img src='", getImageResource(parentName), "'><h3>",
            category, "</h3></div>", "<div class='detail-sub'>"]

        details.forEach((v) => {
            html.push('<div><div id="heading', v.id, '">',
                '<a class="title" data-toggle="collapse" data-target="#collapse', v.id,
                '" aria-expanded="true" aria-controls="collapse', v.id,
                '" onclick="getArticle(this)" data-id="' + v.id + '">', v.title,
                '<i class="float-right fas fa-chevron-down"></i></a></div>',
                '<div id="collapse', v.id, '" class="collapse" aria-labelledby="heading', v.id,
                '" data-parent="#category-detail">',
                '<div class="detail-body">', v.summary, '</div></div></div>')
        })
        html.push("</div>")

    } catch (e) {
        html = [errorHtml]
        console.log(e)
    }
    $("#category-detail").append(html.join(""))
}

function getArticle(article) {
    let articleId = article.dataset.id
    $.get(url.detail.concat(articleId), { "portalId": portalId }, function (resp) {
        setArticle(articleId, resp.answer)
    })
}

function setArticle(articleId, article) {
    let id = "#collapse".concat(articleId, " .detail-body")
    $(id).html(article.replace(/<div><br \/><\/div>/g, ""))
}

function searchArticle() {
    let param = { "portalId": portalId, "searchStr": $("#search").val() }

    preDetailContainerLoad("#category-box button")

    $.get(url.search, param, function (resp) {
        let list = resp.data

        if (list.length < 1)
            list.push({ title: "No Result", summary: "Please Search Again" })

        setCategoryDetail("Search Result", list)

    }).fail(function (e) {
        console.log(e)
        detailContainer.html(errorHtml)
    })
    pstDetailContainerLoad()
}

function addActiveCss(category) {
    const activeClass = "category-active"
    $(category).addClass(activeClass).siblings().removeClass(activeClass)
}

function preDetailContainerLoad(activeClass) {
    addActiveCss(activeClass)
    detailContainer.empty().hide()
}

function pstDetailContainerLoad() {
    detailContainer.fadeIn()
}

function getImageResource(rawName) {
    let fileName = (rawName.replace(/[^A-Z0-9]+/ig, "").toLowerCase()).concat(".png")
    let liquidPath = '{{ 'filename' | asset_url }}'

    return liquidPath.replace("filename", fileName)
}